.navbar {
  height: 10vh;
  background: $blue-aupair;
  margin-bottom: 20px;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar a {
  color: $yellow-aupair;
  text-decoration: none;
}
